doctype html
html
    head
        title= title
        meta(charset='utf-8')
        link(rel='stylesheet', href='/css/patternfly.min.css')
        script(src='/js/jquery.min.js')
        script(src='/js/patternfly.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/build/common.js')
    body.container-fluid
        block content